html{margin: 0px;}

body{
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
    
}

.NavBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 75px;
    background-color: rgb(2, 20, 31);
        
}

.NavBar > div{
    margin-right: 80px;
    color: white;
}

.logo{
    margin-left: 5px;
    height: 70px;
    object-fit: contain;
    border-radius: 50%;
    transition: background-color .9s;
}

.logo:hover{
    background-color: rgb(255, 208, 0);
}

.GridContainer{
    margin-bottom: 0;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    height: 850px;
    width: 100%;
    justify-content: center;
    background-image: url('img/lightbulb1.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.Text1{
    font-size: 50px;
    font-weight: bold;
    color: white;
}
.ImageButton{
     width: 300px;
     height: 300px;
     object-fit: cover;
     object-position: top;
     border-radius: 50%;
     transition: width 1s,
     height 1s;
}

.ImageButton:hover{
    width: 370px;
    height: 370px;
}

.ImageContainer{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

footer{
    > .FooterContainer{
        height: inherit;
        width: inherit;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: rgb(2, 20, 31);
        > div{
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
            > a{
                color: black;
                margin: 5px;
            }

            > p{
                margin-left: 60px;
            }
            
            >h4{
                margin: 5px;
            }
        
        }
    }
}
        
@media screen and (max-width: 700px){
    .NavBar{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 75px;
        background-color: rgb(2, 20, 31);   
    }
    
    .NavBar > div{
        margin-right: 80px;
        color: white;
    }
    
    .logo{
        margin-left: 5px;
        height: 70px;
        object-fit: contain;
        border-radius: 50%;
        transition: background-color .9s;
    }

    .GridContainer{
        margin-bottom: 0;
        height: 691px;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        justify-content: center;
        background-image: url('img/lightbulb1.jpg');
        background-attachment: fixed;
        background-size: cover;
    }
    
    .Text1{
        margin: 0px;
        padding-top: 100px;
        font-size: 30px;
        font-weight: bold;
        color: white;
    }
    .ImageButton{
        width: 250px;
        height: 250px;
         object-fit: cover;
         object-position: top;
         border-radius: 50%;
         transition: width 1s,
         height 1s;
    }
    
    .ImageButton:hover{
        width: 300px;
        height: 300px;
    }

    .ImageContainer{
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
    }
    
    footer{
        padding: 5px;
        background-color: rgb(2, 20, 31);
    }
    p{
        margin: 0;  
        padding: 0px;
    }

}

@media screen and (max-width: 500px){
    .NavBar{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 75px;
        background-color: rgb(2, 20, 31);   
    }
    
    .NavBar > div{
        margin-right: 80px;
        color: white;
    }
    
    .logo{
        margin-left: 5px;
        height: 70px;
        object-fit: contain;
        border-radius: 50%;
        transition: background-color .9s;
    }

    .GridContainer{
        margin-bottom: 0;
        height: 691px;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        justify-content: center;
        background-image: url('img/lightbulb1.jpg');
        background-attachment: fixed;
        background-size: cover;
    }
    
    .Text1{
        margin: 0px;
        padding-top: 100px;
        font-size: 30px;
        font-weight: bold;
        color: white;
    }
    .ImageButton{
        width: 220px;
        height: 220px;
         object-fit: cover;
         object-position: top;
         border-radius: 50%;
         transition: width 1s,
         height 1s;
    }
    
    .ImageButton:hover{
        width: 270px;
        height: 270px;
    }

    .ImageContainer{
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
    }
    
    footer{
        padding: 5px;
        background-color: rgb(2, 20, 31);
    }
    p{
        margin: 0;  
        padding: 0px;
    }
}