body{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
    color: white;
    
}

.NavBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 75px;
    background-color: rgb(2, 20, 31);
        
}

.NavBar > div{
    margin-right: 80px;
    color: white;
}

.logo{
    margin-left: 5px;
    height: 70px;
    object-fit: contain;
    border-radius: 50%;
    transition: background-color .9s;
}

.logo:hover{
    background-color: rgb(255, 208, 0);
}

.GridContainer{
    margin-bottom: 0;
    text-align: center;
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr;
    width: 100%;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    background-attachment: fixed;
    background-size: cover;
    > .Text1{
        margin-bottom: 20px;
    }
}

h1{
    color: white;
}

.Information{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    > div {
        height: 690px;
        transition: background-color .9s;
    }
}

.Information > div:hover{
    background-color: rgba(133, 133, 133, 0.315);
}

.ImageButton{
    margin-top: 50px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

footer{
    > .FooterContainer{
        height: inherit;
        width: inherit;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: rgb(2, 20, 31);
        > div{
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
            > a{
                color: black;
                margin: 5px;
            }

            > p{
                margin-left: 60px;
            }
            
            >h4{
                margin: 5px;
            }
        
        }
    }
}

@media screen and (max-width: 700px) {
    .ImageButton{
        margin-top: 10px;
        width: 170px;
        height: 170px;
        object-fit: cover;
        object-position: top;
        border-radius: 50%;
        transition: width 1s,
        height 1s;
    }

    .Information{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        > div {
            height: 549px;
            overflow: auto;
            transition: background-color .9s;
        }
    }
}

@media screen and (max-width: 500px){
    .ImageButton{
        margin-top: 10px;
        width: 120px;
        height: 120px;
        object-fit: cover;
        object-position: top;
        border-radius: 50%;
        transition: width 1s,
        height 1s;
    }

    .Information{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        > div {
            height: 549px;
            overflow: auto;
            transition: background-color .9s;
        }
    }
}